<div class="loc-hours btn btn-primary bg-red">
  <p class="hours center m0 p0"> <%= location.hours[0] %></p>
  <p class="hours center m0 p0"> TO </p>
  <p class="hours center m0 p0"><%= location.hours[1] %></p>
</div>
