<nav>
  <div class="clearfix">
    <div class="left">
        <%= link_to "Sheltr", root_path, class:"btn" %>
    </div>
    <div class="right">
      <div class='dropdown-toggle btn py2 m0' onClick=><i class="fas fa-bars"></i></div>
        <ul class='dropdown'>
          <% if current_user %>
            <li><%= link_to "Logout", logout_path %></li>
          <% else %>
            <li><%= link_to "Login", login_path %></li>
          <% end %>
          <li><%=link_to "About", about_path %></li>
          <li>Contact</li>
        </ul>
      </div>
    <div class="right">
    </div>
    <div class="clearfix sm-hide"></div>
    <div class="overflow-hidden px2">
    </div>
  </div>
</nav>
