<nav>
  <div class="clearfix">
    <div class="left sm-flex center nowrap">
      <div class="flex-auto">
        <a href="#!" class="btn py2 m0">SheltR</a>
      </div>
    </div>
    <div class="right">
      <div class='dropdown-toggle btn py2 m0' onClick=><i class="fas fa-bars"></i></div>
      <ul class='dropdown'>
        <li>About</li>
        <li>Contact</li>
      </ul>
    </div>
    <div class="clearfix sm-hide"></div>
    <div class="overflow-hidden px2">
    </div>
  </div>
</nav>
