<main>
  <div class="clearfix">
    <div class="sm-col sm-col-5">
      <%= render partial:"/partials/search_form" %>
    </div>

    <div class="sm-col sm-col-7">
      <%= raw t('.how_to') %>
    </div>
  </div>
</main>
