<main>
  <div class="clearfix">
    <div class="sm-col sm-col-5">
        <%= render partial:"/partials/search_form" %>
    </div>

    <div class="md-col md-col-7">
      <h1>ABOUT</h1>
      <p> Sheltr is meant to connect people who need help with resources. Currently, you can search for shelters, places to spend the day, free food, and mental health help.<p>

      <p>Sheltr is intended to be easy to use, responsive, and intuitive. Not everyone knows how to navigate dense menus, and hopefully Sheltr can help.</p>

      <p> There are around <strong>500,000</strong> homeless in the United States. Almost <strong>20%</strong> of the population lives below the poverty line (less than <strong>$23,000 a year for a family of 4</strong>). If you're interested in helping, volunteer at a local shelter, donate clothing or hygiene items, or donate money.</p>
    </div>
  </div>
</main>
