@import "shared_values";

.submit-button {
	margin: 2% 0% 2% 0%;
	width: 80%;
	text-align: left;
	font-size: 40px;
	font-family: $primary-font;
	display: flex;
	align-items: center;
}

form .fas {
	padding: 5px;
	margin: 5px;
	background-color: $light-color;
	color: $link-color;
	border-radius: 10px;
	}

.fa-utensils {
	width: 57px;
	text-align: center;
}

.translate-button {
	font-size: 14px;
}
