@import "shared_values";

nav {
  position: relative;
  background-color: whitesmoke;
  font-family: $header-font;
  color: $dark-color;
  font-size: 30px;
  .fas {
    color: $link-color;
  }
  .left .btn {
    margin-top: 10px;
  }
}

.dropdown-toggle {
  padding: .5em 2em;
  width: 100px;
}

ul.dropdown {
  display:none;
  position: absolute;
  top: 100%;
  margin: 0;
  margin-top: 0em;
  min-width: 2em;
  text-align: right;
    li {
      list-style-type: none;
      margin-left: 70px;
      a {
        text-decoration: none;
        display: block;
      }
   }
}

@media screen and (max-width: 1000px) {
  ul.dropdown {
    display: none;
    position: relative;
    li {
      padding: 10px;
      border-bottom: 4px solid black;
      text-align: left;
    }
  }
}

.welcome-text {
  font-family: $primary-font;
  font-size: 15px;
  color: gray;
}
