$primary-font: 'Quicksand', sans-serif;
$header-font: 'Dosis', sans-serif;
$important-font: 'Roboto', sans-serif;

$light-color: white;
$dark-color: black;
$link-color: #1170C9;
$open-color: #2dc937;
$closed-color: #cc3232;
$unknown-color: #e7b416;
$link-color: #1170C9;
