@import "shared_values";

.info-text {
  font-size: 15px;
}

.closed-red {
  background-color: red;
}

.flex-row {
  display: flex;
  align-items: center;
}

.bg-green {
  background-color: #2dc937;
  width: 90%;
  padding: 10px;
}

.bg-red {
  background-color: #cc3232;
  width: 90%;
}

.bg-gray {
  background-color: #e7b416;
  width: 90%;
}

.hours {
  line-height: 1.1;
}

.loc-hours {
  text-align: center;
}
