@import "shared_values";

.info-text {
  font-size: 15px;
}

.closed-red {
  background-color: red;
}

.flex-row {
  display: flex;
  align-items: center;
}

.bg-green {
  background-color: $open-color;
  width: 90%;
  padding: 10px;
}

.bg-red {
  background-color: $closed-color;
  width: 90%;
  padding: 10px;
}

.bg-gray {
  background-color: $unknown-color;
  width: 90%;
  padding: 10px;
}

.hours {
  line-height: 1.1;
}

.loc-hours {
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .hours {
    font-size: 12px;
    p {
      display: inline-block;
    }
  }
  .btn-primary {
    background-color: $light-color;
    color: black;
  }
  .bg-green {
    border-right: 2px solid $open-color;
  }
  .bg-red {
    border-right: 2px solid $closed-color;
  }
  .bg-gray {
    border-right: 2px solid $unknown-color;
  }
}

@media screen and (max-width: 640px) {
  .loc-hours {
    min-width: 70px;
    margin-right: 15px;
  }
}
